<!DOCTYPE html>
<html>

<head>
  <title>달력</title>
  <style type="text/css">
    td {
      width: 100px;
      height: 100px;
      text-align: center;
      font-size: 30px;
      border: 2px border-color #3333FF;
      border-radius: 8px;
    }
  </style>

  <script type="text/javascript">
    let today = new Date();
    let date = new Date();

    // function beforeMonth() {
    //   today = new Date(today.getFullYear(), today.getMonth() - 1, today.getDate());
    //   Calendar();
    // }

    // function nextMonth() {
    //   today = new Date(today.getFullYear(), today.getMonth() + 1, today.getDate());
    //   Calendar();
    // }

    function Calendar() {
      // 가져온 로컬시간 기준 [년, 월, 1일]
      let doMonth = new Date(today.getFullYear(), today.getMonth(), 1);

      // 가져온 로컬시간 기준 [년, 월, 마지막일]
      let lastDate = new Date(today.getFullYear(), today.getMonth() + 1, 0);

      // JS 이기때문에 html 의 id 값을 직접적으로 가져올 수 없다.
      // etElementById 를 사용해서 id 값을 변수 안에 저장해서 사용해야한다.
      let Calendar_table = document.getElementById("calendar");
      let CalendarYM_table = document.getElementById("CalendarYM");

      // id="CalendarYM" 인 테이블에 [yyyy년 m월] 형식으로 html 작성
      CalendarYM_table.innerHTML = today.getFullYear() + "년 " + (today.getMonth() + 1) + "월";

      // // 이번달이 끝나면 다음달로 이어서 넘겨주는 역할
      // // 왜 2 라는 값을 넣어야 하는지 잘 모르겠지만
      // // 2 라는 값을 넣어야만 정상 작동한다...
      // while (Calendar_table.rows.length > 2) {
      //   tbCalendar.deleteRow(Calendar_table.rows.length - 1);
      // }

      // id="Calendar" 인 테이블에 가로 1줄 추가
      let row = null;
      row = Calendar_table.insertRow();

      let cnt = 0;

      // 이번 달 1일의 요일값 이전까지 빈 cell 만들기
      for (i = 0; i < doMonth.getDay(); i++) {
        cell = row.insertCell();
        cnt = cnt + 1;
      }

      // 이번 달 1일의 요일값 이전까지 만든 빈 cell 이후부터
      // 이번 달 일자만큼 cell 을 만들고 그 안에 날짜 입력
      for (i = 1; i <= lastDate.getDate(); i++) {
        cell = row.insertCell();
        cell.innerHTML = i;
        // td 별 id 값 지정해주는 방식
        // cell.id = (today.getMonth() + 1) + '월' + i + '일';
        cell.id = 'day' + i;
        cnt = cnt + 1;

        // 토요일이 되면 일요일의 출발점을 위해 가로 1줄 추가
        if (cnt % 7 == 0) {
          cell.innerHTML = "<font color=skyblue>" + i
          row = calendar.insertRow();
        }

        // 일요일 날짜의 폰트색상 바꾸기
        if (cnt % 7 == 1) {
          cell.innerHTML = "<font color=#F79DC2>" + i
        }

        if (today.getFullYear() == date.getFullYear() && today.getMonth() == date.getMonth() && i == date.getDate()) {
          cell.bgColor = "#FAF58C";
        }
      }
    };
  </script>
</head>

<body>
  <p></p>
  <h3 align="center">항해99 Just Do it</h3>
  <table id="calendar" border="3" align="center" style="border-color:#3333FF ">
    <tr>
      <!-- <td>
        <label onclick="beforeMonth()">
          << </td>
      <td align="center" id="CalendarYM" colspan="5"> yyyy년 m월 </td>
      <td><label onclick="nextMonth()"> >> </label> -->
      <td align="center" id="CalendarYM" colspan="7"> yyyy년 m월 </td>
    </tr>
    <tr>
      <td align="center">
        <font color="#F79DC2">일
      </td>
      <td align="center">월</td>
      <td align="center">화</td>
      <td align="center">수</td>
      <td align="center">목</td>
      <td align="center">금</td>
      <td align="center">
        <font color="skyblue">토
      </td>
    </tr>
  </table>

  <script language="javascript" type="text/javascript">
    Calendar();
  </script>
</body>

</html>
